{% extends 'base.html.twig' %}
{% block content %}
<div class="corps">
  <div class="bloc_texte">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-4">
          {% autoescape false %}{{ status["display_button_deconnexion"] }}{% endautoescape %}
          <p class="title_connexion">Se connecter</p>
          {% autoescape false %} {{ status["connexion_ok"]}} {{ status["already_connected"] }}{% endautoescape %}
          <form class="form_connexion" action="connexion.php" method="post">
            <label class="text_form">Entrez votre pseudo :</label><br/>
            <input class="input" type="text" id="pseudo" name="pseudo" placeholder="pseudo" required><br/>
            <span class="msg_error_connexion">{{ error["errorWrongPassOrPseudo"] }}</span>
            <label class="text_form">Entrez votre mot de passe :</label><br/>
            <input class="input" type="password" id="pass" name="pass" placeholder="mot de passe" required><br/>
            <span class="msg_error_connexion">{{ error["errorWrongPassOrPseudo"] }}</span>
            <div class="g-recaptcha" data-sitekey="6LfaWFkUAAAAALn3XwlrPtWESU-KSSn7gbac98Ah"></div>
            <button class="button_connexion" type="submit" name="button">Valider</button>
          </form>
        </div>
        <div class="col-4 redir_create_account">
          <div class="text_form">
            <p class="bold txt_justify_center">Vous n'avez pas de compte?</p>
            <p>Vous pouvez vous créer un compte personnel gratuit sur Narramus.fr afin d'échanger avec la communauté.</p>
          </div>
          <a href="inscription.php"><button class="button_create_account" type="button" name="button" href="inscription_done.php">Se créer un compte</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
